<app-navbar></app-navbar>



<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h4>BİZ KİMİZ</h4>
      <p>Faaliyetlerine 2009 yılında başlayan Ondokuz Mayıs Üniversitesi Uzaktan Eğitim Uygulama ve Araştırma Merkezi (OMÜ-UZEM), çağdaş bilgi iletişim teknolojilerinin yardımıyla verimli ve etkin bir eğitim ve öğretim ortamı oluşturarak, çalışan kişileri, günümüzün ihtiyaçlarına cevap verebilecek şekilde hazırlanmış programlarla destekleyerek meslek hayatlarındaki etkinliklerini artırmayı hedeflemektedir.

        OMÜ-UZEM Öğrenci Merkezli eğitim felsefesini benimseyerek, tüm eğitim sürecini paydaşlarının geri bildirimlerine göre yeniden dizayn ederek sürdürmektedir. OMÜ-UZEM, aynı zamanda bilimsel ve teknolojik araştırmalar yaparak ilgili akademik ya da idari birimlere destek sağlama ve uluslararası düzeyde üniversiteler arasında henüz istenen düzeye ulaşmamış olan işbirliğini artırma konularında da çaba sarf etmektedir.</p>
    </div>
   
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-5">
      <img style="width: 100%; height: 300px;" src="assets/1.jpg" alt="">
    </div>
    <div class="col-lg-3  mt-5">
      <img style="width: 100%; height: 300px;" src="assets/2.jpg" alt="">
    </div>
    <div class="col-lg-3  mt-5">
      <img style="width: 100%; height: 300px;" src="assets/3.jpg" alt="">
    </div>
    <div class="col-lg-3  mt-5">
      <img style="width: 100%; height: 300px;" src="assets/4.jpg" alt="">
    </div>
   
   
  </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AKRbY3ACJTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>



<app-footer></app-footer>
